ion-content {
    --background: #332D31;
}

ion-toolbar {
    --background: #4C516D;
    ion-menu-button {
        color: #7EF9FF;
    }
    ion-title {
        color: #7EF9FF;
    }
}

ion-list {
    --background: #332D31;
    ion-item {
        --background: #332D31;
        color: #A9EED1;
        text-align: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        font-style: initial;
        font-style: bold;
        ion-label {
            color: #7EF9FF;
            text-align: center;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;
            font-style: initial;
        }
    }
}

.save-setting-box {
    --background: #332D31;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.save-btn {
    width: 150px;
    height: 100px;
    color: #7EF9FF;
    font-size: 30px;
    font-weight: bold;
    font-style: initial;
}