<ion-header>
    <ion-toolbar>
        <ion-title>Device Management</ion-title>

        <!-- menu -->
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <!--Add new device button-->
            <ion-button (click)="newWeather()" class="register">Add WS</ion-button>
            <ion-button (click)="newDevice()" class="register">Add Device</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Content -->
</ion-content>