.main {
    --background: #332D31;
}

ion-toolbar {
    --background: #4C516D;
    ion-menu-button {
        color: #7EF9FF;
    }
    ion-title {
        color: #7EF9FF;
    }
    ion-button {
        font-size: 25px;
        color: #7EF9FF;
    }
}