<ion-content class='container'>
    <div class="login-title"> Weather Station</div>
    <div class="login-box">
        <ion-item>
            <ion-input type="id" placeholder="ID:" [(ngModel)]="id"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" placeholder="Password: " [(ngModel)]="password"></ion-input>
        </ion-item>
    </div>
    <div class="login-btn-box">
        <ion-button class="login-btn" (click)="login()" fill="outline">
            Log in
        </ion-button>
    </div>
</ion-content>