.container {
    --background: #7EF9FF;
    width: 100%;
    height: 100%;
}

.login-title {
    color: #4C516D;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    justify-content: center;
    font-size: 70px;
    font-weight: bold;
    font-style: initial;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.login-btn-box {
    color: #4C516D;
    font-size: 40px;
    font-weight: bold;
    font-style: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.login-btn {
    width: 150px;
    height: 100px;
    color: #4C516D;
    font-size: 30px;
    font-weight: bold;
    font-style: initial;
}