ion-toolbar {
    --background: #4C516D;
    ion-menu-button {
        color: #7EF9FF;
    }
    ion-title {
        color: #7EF9FF;
    }
}

ion-content {
    --background: #000000;
}

.login {
    text-align: center;
    border-radius: 5px;
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
}

.failed {
    text-align: center;
    border-radius: 5px;
    background-color: darkred;
    color: white;
    font-weight: bold;
}

.signout {
    text-align: center;
    border-radius: 5px;
    background-color: gray;
    color: white;
    font-weight: bold;
}

.info_title {
    --background: #332D31;
    color: orange;
    text-align: center;
    font-size: 20px;
}

.user_info {
    --background: #332D31;
    color: #7EF9FF;
    border-width: thin;
    text-align: center;
    font-size: 15px;
}

.turn-off {
    text-align: center;
    border-radius: 5px;
    background-color: darkred;
    color: white;
    font-weight: bold;
}

.delete {
    text-align: center;
    border-radius: 5px;
    background-color: Green;
    color: white;
    font-weight: bold;
}

.turn-on {
    text-align: center;
    border-radius: 5px;
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
}

.add {
    text-align: center;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}

.manual {
    text-align: center;
    border-radius: 5px;
    background-color: darkred;
    color: white;
    font-weight: bold;
}

.auto {
    text-align: center;
    border-radius: 5px;
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
}