ion-toolbar {
    --background: #4C516D;
    ion-menu-button {
        color: #7EF9FF;
    }
    ion-title {
        color: #7EF9FF;
    }
}

.swiper-container {
    margin-top: 20px;
    background-color: #57026f;
    color: #7EF9FF;
    height: 500px;
    width: 400px;
    h1 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    ion-button {
        margin-bottom: 10px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: #7EF9FF;
    }
}

.btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.interval-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ion-label {
        font-size: 20px;
        font-weight: bold;
        color: #7EF9FF;
    }
    ion-segment {
        color: #7EF9FF;
        margin-top: 20px;
        width: 400px;
        font-weight: bold;
    }
    ion-segment-button{
        color: #7EF9FF;
        margin-top: 20px;
        width: 400px;
    }
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-md{
    background-color: black;
    padding: 0px;
}



ion-content {
    --background: black;
    color: white;
}

.updated_date {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.weather_img {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.info_title {
    --background: #57026f;
    color: orange;
    text-align: center;
    font-size: 12px;
}

.user_info {
    --background: #57026f;
    color: #7EF9FF;
    border-width: thin;
    text-align: center;
    font-size: 10px;
}