.main {
    --background: #332D31;
}

ion-toolbar {
    --background: #4C516D;
    ion-menu-button {
        color: #7EF9FF;
    }
    ion-title {
        color: #7EF9FF;
    }
}

.updated_date {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.weather_img {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}